@model IEnumerable<TestTask1_1.Models.ObjectHeatConsumption>


<h2>Список объектов</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Consumer.PersonalAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRegistration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Consumer.PersonalAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRegistration)
        </td>
    </tr>
}

</table>
